<div class="shop-side-bar">
    <div class="shop-sidebar-area mt-30 white-bg">
        <div class="sidebar-title text-center">
            <h5 class="title">Category</h5>
        </div>
        <div class="sidebar-list">
            <ul>
                <li *ngFor="let item of shopcategory">
                    <a routerLink="/shop/cat/{{item.id}}"><i class="fal fa-angle-right"></i>{{item.title}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="shop-sidebar-area mt-30 white-bg">
        <div class="sidebar-title text-center">
            <h5 class="title">Keyword</h5>
        </div>
        <div class="sidebar-tag">
            <ul>
                <li *ngFor="let item of shoptags">
                    <a routerLink="/shop/tag/{{item.id}}">{{item.title}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="shop-sidebar-area mt-30 white-bg">
        <div class="sidebar-title text-center">
            <h5 class="title">Subscribe</h5>
        </div>
        <div class="sidebar-subscribe">
            <p>Lorem ipsum dolor sit asecte is tur adipisicing elit.</p>
            <form>
                <div class="input-box">
                    <input type="text" placeholder="Enter email">
                    <button class="main-btn">Subscribe Now</button>
                </div>
            </form>
        </div>
    </div>
    <div class="sidebar-add mt-30">
        <img src="assets/images/sidebar-ad.jpg" alt="">
        <span>Add Banner</span>
    </div>
</div>