<div class="about-history-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="section-title text-center">
                    <h2 class="title">Our History</h2>
                    <p>Does any industry face a more complex audience journey and marketing sales process than B2B technology.</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="history-item  pt-240">
                    <div class="history-thumb wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".1s">
                        <img src="assets/images/history-1.jpg" alt="history">
                    </div>
                    <div class="history-content wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".1s">
                        <span>1990 - Startup</span>
                        <h4 class="title">Technical content may have per suasive objectives.</h4>
                    </div>
                    <div class="number-box">
                        <span>02</span>
                    </div>
                </div> <!-- history item -->
                <div class="history-item">
                    <div class="history-thumb wow fadeInUp" data-wow-duration=".1s" data-wow-delay=".2s">
                        <img src="assets/images/history-2.jpg" alt="history">
                    </div>
                    <div class="history-content wow fadeInUp" data-wow-duration=".1s" data-wow-delay=".2s">
                        <span>1990 - Startup</span>
                        <h4 class="title">Technical content may have per suasive objectives.</h4>
                    </div>
                    <div class="number-box">
                        <span>04</span>
                    </div>
                    <div class="number-box-2">
                        <i class="fal fa-plus"></i>
                    </div>
                </div> <!-- history item -->
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="history-item history-item-2">
                    <div class="history-thumb wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".1s">
                        <img src="assets/images/history-3.jpg" alt="history">
                    </div>
                    <div class="history-content wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".1s">
                        <span>1990 - Startup</span>
                        <h4 class="title">Technical content may have per suasive objectives.</h4>
                    </div>
                    <div class="number-box">
                        <span>01</span>
                    </div>
                </div> <!-- history item -->
                <div class="history-item history-item-2">
                    <div class="history-thumb wow fadeInUp" data-wow-duration=".1s" data-wow-delay=".2s">
                        <img src="assets/images/history-4.jpg" alt="history">
                    </div>
                    <div class="history-content wow fadeInUp" data-wow-duration=".1s" data-wow-delay=".2s">
                        <span>1990 - Startup</span>
                        <h4 class="title">Technical content may have per suasive objectives.</h4>
                    </div>
                    <div class="number-box">
                        <span>03</span>
                    </div>
                </div> <!-- history item -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>