<div class="action-2-area bg_cover" style="background-image: url(assets/images/action-bg.jpg);">
    <div class="action-overlay">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="action-item mt-30">
                        <span>Get Action</span>
                        <h2 class="title">Get A Quote <br>right now.</h2>
                    </div> <!-- action item -->
                </div>
                <div class="col-lg-7">
                    <div class="action-support d-flex mt-30">
                        <div class="action-support-item">
                            <p>Mail Us</p>
                            <span>info@example.com</span>
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="action-support-item action-support-item-2">
                            <p>Make A Call</p>
                            <span>897 876 76 56 4</span>
                            <i class="fal fa-phone"></i>
                        </div>
                    </div> <!-- action support -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
</div>