<div class="about-faq-area about-faq-area-page pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="faq-accordion-3 mt-30">
                    <ngb-accordion [closeOthers]="true" activeIds="static-1">
                        <ngb-panel id="static-{{1+i}}" *ngFor="let item of faqs;let i = index">
                            <ng-template ngbPanelTitle>
                                <i class="fal fa-magic"></i> {{item.title}}
                            </ng-template>
                            <ng-template ngbPanelContent> 
                                <p>{{item.text}}</p>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div> <!-- faq accordion -->
            </div>
            <div class="col-lg-6">
                <div class="faq-video-thumb-area">
                    <div class="faq-video-thumb-1 text-right">
                        <img src="assets/images/faq-thumb-item-1.jpg" alt="faq">
                    </div>
                    <div class="faq-video-thumb-2">
                        <img src="assets/images/faq-thumb-item-2.jpg" alt="faq">
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>