<div class="about-intro-area pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="intro-thumb">
                    <img src="assets/images/about-intro-thumb.jpg" alt="">
                    <a class="video-popup" href="#"><i class="fas fa-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="intri-content">
                    <span>Intro Video</span>
                    <h2 class="title">How we growth <br> our business.</h2>
                    <p class="text-1">The introduction of cloud and mobile technologies into enterprise software.</p>
                    <p class="text-2">hether you are building an enterprise web portal or a state-of-the-art website, you always need the right modern tools. Well-built and maintained PHP frameworks provide those tools in abundance, allowing maintained PHP frameworks provide those tools in abundance, allowing developers to save time, re-use code, and streamline the back end. As software development tools continuously.</p>
                    <a class="main-btn" routerLink="/about">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>