<div class="banner-area-2 bg_cover" style="background-image: url(assets/images/banner-bg.jpg);">
    <div class="banner-overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="banner-content text-center">
                        <span>Get Quality Item & Goods</span>
                        <h1 class="title">IT Solutions</h1>
                        <p>Make your products with good & professionals</p>
                        <ul>
                            <li><a class="main-btn" routerLink="/contact">Get A Quote</a></li>
                            <li><a class="main-btn main-btn-2" routerLink="/about">Learn More</a></li>
                        </ul>
                    </div> <!-- banner content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
</div>