<div class="video-area bg_cover" style="background-image: url(assets/images/video-bg.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="video-item">
                    <a class="video-popup" href="#"><i class="fal fa-play"></i></a><br>
                    <span>Cases</span>
                    <h3 class="title">We Have Done So Much Stuffs</h3>
                </div> <!-- video item -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="video-thumb-1">
        <img src="assets/images/video-item-1.png" alt="">
    </div>
    <div class="video-thumb-2">
        <img src="assets/images/video-item-2.png" alt="">
    </div>
</div>