<div class="error-area pt-120 pb-115">
    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-lg-12">
                <div class="error-item text-center">
                    <countdown units="Days | Hours | Minutes | Seconds"  end="July 22, 2021"></countdown>
                    <h2 class="title">This Website is Coming <br> Very Soon</h2>
                    <span>Wait for it please</span>
                </div> <!-- error item -->
            </div>
        </div>
    </div>
</div>