<div class="banner-area">
    <div class="container position-relative">
        <div class="row">
            <div class="col-lg-7">
                <div class="banner-content pt-100">
                    <span class="wow fadeInLeft">Promote any poduct, service or online course.</span>
                    <h1 class="title wow fadeInLeft">Get every it Services Here</h1>
                    <ul>
                        <li>
                            <a routerLink="/services">
                                <span><i class="fal fa-gem"></i></span>
                                <p>IT Product</p>
                            </a>
                        </li>
                        <li>
                            <a class="btn-2" routerLink="/services">
                                <span><i class="fal fa-bullseye"></i></span>
                                <p>IT Services</p>
                            </a>
                        </li>
                    </ul>
                </div> <!-- banner content -->
            </div>
        </div> <!-- row -->
        <div class="banner-shape d-none d-lg-block">
            <img src="assets/images/banner-man.png" alt="">
        </div>
    </div> <!-- container -->
</div>