<div class="action-area">
    <div class="action-overlay bg_cover" style="background-image: url(assets/images/action-pattern.png);">
        <div class="container">
            <div class="action-bg">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="action-content">
                            <span>Call To action</span>
                            <h3 class="title">Let’s Discuss With Us Your Estimate.</h3>
                        </div> <!-- action content -->
                    </div> 
                    <div class="col-lg-4">
                        <div class="action-btn text-left text-lg-right">
                            <a class="main-btn" routerLink="/contact"><i class="fal fa-comments"></i> Contact Us</a>
                        </div> <!-- action btn -->
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
</div>