<div class="intro-video-area  bg_cover" style="background-image: url(assets/images/intro-video-bg.jpg);">
    <div class="intro-overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="intro-video-content  mt-30">
                        <span class="bar">Intro Video</span>
                        <h2 class="title">How we growth our business.</h2>
                        <p class="text-1">The introduction of cloud and mobile technologies into enterprise software.</p>
                        <p class="text-2">hether you are building an enterprise web portal or a state-of-the-art website, you always need the right modern tools. Well-built and maintained PHP frameworks provide those tools in abundance, allowing maintained PHP frameworks provide those tools in abundance, allowing developers to save time, re-use code, and streamline the back end. As software development tools continuously.</p>
                        <a class="main-btn" routerLink="/about">Learn More</a>
                    </div> <!-- intro video content -->
                </div>
                <div class="col-lg-6">
                    <div class="intro-thumb mt-30">
                        <img src="assets/images/intro-thumb.jpg" alt="">
                        <a class="video-popup" routerLink="/"><i class="fas fa-play"></i></a>
                    </div> <!-- intro thumb -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
</div>