<div class="about-area pt-90 pb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                <div class="about-thumb mt-30">
                    <img src="assets/images/about-thumb.jpg" alt="">
                </div> <!-- about thumb -->
            </div>
            <div class="col-lg-6 col-md-12 order-1 order-lg-2">
                <div class="about-item mt-30">
                    <span>About Us</span>
                    <h3 class="title">You can't use up creativity.</h3>
                    <p>Does any industry face a more complex audience journey and marketing sales process than B2B technology? Consider the number of people who influence a sale, the length of the decision-making cycle, the competing interests of the people who purchase, implement, manage, and use the technology. It’s a lot meaningful content here.</p>
                    <div class="about-experience">
                        <h3>30</h3>
                        <span>Years Of <br> Experience</span>
                    </div>
                    <ul>
                        <li><a class="main-btn" routerLink="/about">Learn More</a></li>
                        <li><a class="main-btn main-btn-2" href="#"><i class="fal fa-video"></i> Intro Video</a></li>
                    </ul>
                </div> <!-- about item -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>